version: "3.8"
services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - mlflow
  mlflow:
    image: python:3.11-slim
    working_dir: /mlflow
    command: bash -c "pip install mlflow && mkdir -p /mlflow/mlruns && mlflow server --backend-store-uri sqlite:///mlflow/mlflow.db --default-artifact-root /mlflow/mlruns --host 0.0.0.0 --port 5000"
    ports:
      - "5000:5000"
    volumes:
      - ./mlflow:/mlflow
