# Core Data & ML
pandas==2.1.2
numpy==1.26.4
scikit-learn==1.2.2
joblib==1.3.2

# MLflow tracking
mlflow==2.5.0

# DVC for data versioning
dvc==2.45.0
dvc-gdrive==2.20.0          # ONLY IF you use Google Drive remote (recommended)
# dvc-s3==2.22.0            # use this if S3 remote

# Prefect Orchestration
prefect==2.10.13
griffe==0.30.0              # required to avoid Prefect import errors

# API Deployment
fastapi==0.110.0
uvicorn==0.22.0

# Monitoring & Reports
evidently==0.3.0

# Visualization
matplotlib==3.8.2
seaborn==0.12.2

# Utils
pytest==7.3.2
requests==2.31.0
pyyaml==6.0

# Optional GPU (commented out because CPU is enough)
# lightgbm
# xgboost
